# Dependencies
/node_modules

# Next.js
/.next
/out

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
/build

# Misc
.DS_Store
*.pem

# Claude
.claude
CLAUDE.md.next/
CLAUDE.md

# VSCode and additional files
.vscode/
.editorconfig
*.cpp
include/
FETCH_HEAD  
